@media (max-width:700px) {}

h1 {
    
    font-weight: 900;
    font-size: 120px;
    text-align: center;
    
}

p {
    font-weight: 600;
    font-size: 50px;
    position: fixed;
    bottom: 15px;
}

body {
    background-color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    position: fixed;
    left: 650px;
}

a {
    /* text-decoration: none; */
    color: black;
    font-size: larger;
    /* position: fixed;
    top: 5px; */
}

/* .mision {
    position: fixed;
    top: 5px;
}
 */